// Application Preloader Section
.app-preloader.d-flex
	.app-preloader__container
		img.app-preloader__image(src="./images/preloader.gif" alt="preloader image")
// Application Preloader Section End/.
