// Application Footer
footer.app-footer
	.container
		.row.border-top
			.col-12
				.row.justify-content-center.pt-4.pb-3
					.col.col-sm-6.col-md-4.col-lg-2
						.logo.w-100
							a.logo-container.w-100.text-center(href="index.html", alt=locals.siteName["en"], aria-label=locals.siteName["en"])
								img(src="./images/logo/logo-colored.svg", alt="AlSamer Home")
				.row.justify-content-center.pb-4.pt-3
					.col.col-sm-6.col-md-4.col-lg-2
						// header side menu social links
						ul.app-footer__social.list-inline.d-flex.align-items-center.justify-content-center.mb-0
							li.list-inline-item
								a(href="http://www.facebook.com", alt="contact us via facebook", target="_blank", aria-label="contact us via facebook")
									i.fab.fa-facebook-f
							li.list-inline-item
								a(href="http://www.twitter.com", alt="contact us via twitter", target="_blank", aria-label="contact us via twitter")
									i.fab.fa-twitter
							li.list-inline-item
								a(href="http://www.linkedin.com", alt="contact us via linkedin", target="_blank", aria-label="contact us via linkedin")
									i.fab.fa-linkedin-in
							li.list-inline-item
								a(href="http://www.instagram.com", alt="contact us via instagram", target="_blank", aria-label="contact us via instagram")
									i.fab.fa-instagram
						// header side menu social links end/.
// Application Footer End/.
