// Clients section
section.section.section--bg-white#clients-section
	.section__float-slider-container.section__float-slider-container--bottom-right
		.section__float-slider.h-100
			.swiper-controllers(data-aos="fade", data-aos-delay="350", data-aos-mirror="false")
				.row.no-gutters
					.col-6
						button.btn.btn-link.btn-block.shadow-none.slider-button-prev(type="button")
							span.mdi.mdi-chevron-left.mdi-32px.text-danger
					.col-6
						button.btn.btn-link.btn-block.shadow-none.slider-button-next(type="button")
							span.mdi.mdi-chevron-right.mdi-32px.text-danger
			.card.border-0.rounded-0.shadow-sm.h-100
				.card-body.d-flex.align-items-stretch.justify-content-stretch
					.swiper-container#clients-section-slider
						.swiper-wrapper
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="350", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="400", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="450", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="500", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="550", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="600", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="650", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="700", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="750", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="800", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="850", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="900", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="950", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="1000", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client(data-aos="fade", data-aos-delay="1050", data-aos-mirror="false")
									.client__image-container
										img.client__image(src="https://via.placeholder.com/200?text=logo", alt="client logo description goes here")
	.container-fluid.px-0
		.row
			.col-11.col-md-9.col-lg-8
				section.section.section--bg-primary
					.section__bg--image-container.section__fade.section__fade--primary-08(data-aos="fade", data-aos-delay="0", data-aos-mirror="false")
						img.section__bg--image(src="./images/backgrounds/clients-section-bg.jpg", alt="", role="presentation", data-paroller-factor="-0.05", data-paroller-type="foreground", data-paroller-direction="vertical")
					.section__content-wrapper.bg-primary.text-white
						.row
							.col-12.col-sm-6.col-md-7.col-lg-5
								.row
									.col-12
										h2.h1.text-white.text-uppercase(data-aos="fade-right", data-aos-delay="100", data-aos-mirror="false") clients
									.col-12.mt-3
										.section__content(data-aos="fade-right", data-aos-delay="200", data-aos-mirror="false")
											p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
// Clients section end/.