// Clients section
section.section.section--bg-white#clients-section
	.section__float-slider-container.section__float-slider-container--bottom-right
		.section__float-slider.h-100
			.swiper-controllers
				.row.no-gutters
					.col-6
						button.btn.btn-link.btn-block.shadow-none.slider-button-prev(type="button")
							span.mdi.mdi-chevron-left.mdi-32px.text-danger
					.col-6
						button.btn.btn-link.btn-block.shadow-none.slider-button-next(type="button")
							span.mdi.mdi-chevron-right.mdi-32px.text-danger
			.card.border-0.rounded-0.shadow-sm.h-100
				.card-body.d-flex.align-items-stretch.justify-content-stretch
					.swiper-container#clients-section-slider
						.swiper-wrapper
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
							.swiper-slide
								.client
									.client__image-container
										img.client__image(src="https://via.placeholder.com/150?text=logo", alt="client logo description goes here")
	.container-fluid.px-0
		.row
			.col-11.col-md-9.col-lg-8
				section.section.section--bg-primary
					.section__bg--image-container.section__fade.section__fade--primary-08
						img.section__bg--image(src="./images/backgrounds/clients-section-bg.jpg", alt="", role="presentation")
					.section__content-wrapper.bg-primary.text-white
						.row
							.col-12.col-sm-6.col-md-7.col-lg-5
								.row
									.col-12
										h2.h1.text-white.text-uppercase clients
									.col-12.mt-3
										.section__content
											p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
// Clients section end/.