// Contact us section
section.section.section--bg-white#contact-us-section
	.container-fluid.px-0
		.row
			.col-12.col-sm-12.col-md-6.col-lg-5
				.section__content-wrapper.bg-transparent.text-white.pr-md-0.px-5
					.row
						.col-12.col-md-11
							.row
								.col-12
									h2.h1.text-primary.text-uppercase contact us
								.col-12.mt-5
									dl.description-list(aria-label="contact list")
										dt.description-list__title.description-list__title--has-icon
											span.description-list__icon
												svg(xmlns='http://www.w3.org/2000/svg' width='21.412' height='34.237' viewBox='0 0 21.412 34.237')
													path(d='M177.681,88.637a5.612,5.612,0,1,0-5.613-5.612A5.619,5.619,0,0,0,177.681,88.637Zm0-9.218a3.606,3.606,0,1,1-3.606,3.606A3.61,3.61,0,0,1,177.681,79.419Z' transform='translate(-166.975 -72.236)' class="fill fill--color-red")
													path(d='M100.493,20.872c1.52,2.058.91,1.258,5.288,7.51a1,1,0,0,0,1.645,0c4.4-6.282,3.794-5.486,5.289-7.511a25.522,25.522,0,0,0,3.94-6.657,10.362,10.362,0,0,0-1.512-10.023h0a10.793,10.793,0,0,0-17.078,0,10.362,10.362,0,0,0-1.512,10.023A25.518,25.518,0,0,0,100.493,20.872ZM99.652,5.419a8.787,8.787,0,0,1,13.9,0h0a8.414,8.414,0,0,1,1.2,8.141,24.033,24.033,0,0,1-3.657,6.12c-1.11,1.5-.778,1.043-4.5,6.375-3.716-5.327-3.388-4.873-4.5-6.375a24.035,24.035,0,0,1-3.657-6.12,8.414,8.414,0,0,1,1.2-8.141Z' transform='translate(-95.898 0)' class="fill fill--color-blue")
													path(d='M111.311,370.644a1,1,0,0,0-1.384-.312l-2.852,1.8a1,1,0,0,0,0,1.7l8.987,5.676a1,1,0,0,0,1.071,0l8.987-5.676a1,1,0,0,0,0-1.7l-2.852-1.8a1,1,0,1,0-1.071,1.7l1.51.953-7.109,4.49-7.109-4.49,1.51-.953A1,1,0,0,0,111.311,370.644Z' transform='translate(-105.892 -345.423)' class="fill fill--color-red")

											| address
										dd.description-list__content
											address Serag Mall Towers, Makram Ebid St. - Nasr City - Cairo - Egypt
										dt.description-list__title.description-list__title--has-icon
											span.description-list__icon
												svg(xmlns='http://www.w3.org/2000/svg' width='31.637' height='31.684' viewBox='0 0 31.637 31.684')
													g(transform='translate(0 0)')
														path(d='M25.361,45.2a3.116,3.116,0,0,0-2.26-1.036,3.222,3.222,0,0,0-2.287,1.03L18.7,47.3c-.174-.094-.348-.181-.515-.267-.241-.12-.468-.234-.662-.354a22.967,22.967,0,0,1-5.5-5.015,13.549,13.549,0,0,1-1.805-2.849c.548-.5,1.057-1.023,1.551-1.525.187-.187.374-.381.562-.568a3.068,3.068,0,0,0,0-4.627L10.5,30.268c-.207-.207-.421-.421-.622-.635-.4-.415-.823-.843-1.257-1.244a3.165,3.165,0,0,0-2.24-.983,3.276,3.276,0,0,0-2.274.983L4.1,28.4,1.823,30.7A4.892,4.892,0,0,0,.372,33.805a11.722,11.722,0,0,0,.856,4.962A28.792,28.792,0,0,0,6.343,47.3a31.468,31.468,0,0,0,10.479,8.2,16.326,16.326,0,0,0,5.885,1.739c.14.007.288.013.421.013A5.039,5.039,0,0,0,26.986,55.6c.007-.013.02-.02.027-.033a15.2,15.2,0,0,1,1.17-1.21c.288-.274.582-.562.869-.863a3.336,3.336,0,0,0,1.01-2.314,3.214,3.214,0,0,0-1.03-2.294Zm2.394,7.041c-.007,0-.007.007,0,0-.261.281-.528.535-.816.816a17.584,17.584,0,0,0-1.291,1.337,3.224,3.224,0,0,1-2.514,1.063c-.1,0-.207,0-.308-.007a14.5,14.5,0,0,1-5.216-1.565,29.7,29.7,0,0,1-9.87-7.73,27.148,27.148,0,0,1-4.815-8.018,9.548,9.548,0,0,1-.749-4.186A3.07,3.07,0,0,1,3.1,31.967l2.28-2.28A1.52,1.52,0,0,1,6.4,29.212a1.43,1.43,0,0,1,.976.468l.02.02c.408.381.8.776,1.2,1.2.207.214.421.428.635.649l1.826,1.826a1.276,1.276,0,0,1,0,2.073c-.194.194-.381.388-.575.575-.562.575-1.1,1.11-1.678,1.632-.013.013-.027.02-.033.033A1.364,1.364,0,0,0,8.423,39.2l.02.06a14.656,14.656,0,0,0,2.16,3.524l.007.007a24.544,24.544,0,0,0,5.938,5.4,9.13,9.13,0,0,0,.823.448c.241.12.468.234.662.354.027.013.053.033.08.047a1.45,1.45,0,0,0,.662.167,1.43,1.43,0,0,0,1.016-.461l2.287-2.287a1.513,1.513,0,0,1,1.01-.5,1.362,1.362,0,0,1,.963.488l.013.013,3.685,3.685A1.322,1.322,0,0,1,27.755,52.242Z' transform='translate(-0.344 -25.573)' class="fill fill--color-blue")
														path(d='M245.687,87.716a8.606,8.606,0,0,1,7.008,7.008.9.9,0,0,0,.889.749,1.2,1.2,0,0,0,.154-.013.9.9,0,0,0,.742-1.043A10.406,10.406,0,0,0,246,85.937a.907.907,0,0,0-1.043.736A.893.893,0,0,0,245.687,87.716Z' transform='translate(-228.587 -80.179)' class="fill fill--color-red")
														path(d='M263.786,13.976A17.135,17.135,0,0,0,249.824.014a.9.9,0,1,0-.294,1.779,15.305,15.305,0,0,1,12.478,12.478.9.9,0,0,0,.889.749,1.2,1.2,0,0,0,.154-.013A.886.886,0,0,0,263.786,13.976Z' transform='translate(-232.163 0)' class="fill fill--color-red")
											| phone
										dd.description-list__content
											a(href="tel:+20225604850") 0222732736
											span.mx-2 -
											a(href="tel:+20225604850") 01033302787
										dt.description-list__title.description-list__title--has-icon
											span.description-list__icon
												svg(xmlns='http://www.w3.org/2000/svg' width='34.237' height='22.825' viewBox='0 0 34.237 22.825')
													g(transform='translate(0 0)')
														path(d='M30.671,85.333H3.566A3.571,3.571,0,0,0,0,88.9v15.692a3.571,3.571,0,0,0,3.566,3.566h27.1a3.571,3.571,0,0,0,3.566-3.566V88.9A3.571,3.571,0,0,0,30.671,85.333Zm2.14,19.259a2.142,2.142,0,0,1-2.14,2.14H3.566a2.142,2.142,0,0,1-2.14-2.14V88.9a2.142,2.142,0,0,1,2.14-2.14h27.1a2.142,2.142,0,0,1,2.14,2.14v15.692Z' transform='translate(0 -85.333)' class="fill fill--color-blue")
													g(transform='translate(2.853 2.853)')
														path(d='M71.076,128.311a.714.714,0,0,0-.991-.185l-11.7,8a2.554,2.554,0,0,1-2.9,0l-11.7-8a.713.713,0,1,0-.8,1.177l11.7,8a3.968,3.968,0,0,0,4.511,0l11.7-8A.713.713,0,0,0,71.076,128.311Z' transform='translate(-42.67 -128)' class="fill fill--color-red")
													g(transform='translate(2.852 11.412)')
														path(d='M52.468,256.252a.717.717,0,0,0-1.006-.091L42.9,263.293a.714.714,0,0,0,.914,1.1l8.559-7.133A.715.715,0,0,0,52.468,256.252Z' transform='translate(-42.646 -255.996)' class="fill fill--color-red")
													g(transform='translate(21.399 11.412)')
														path(d='M329.732,263.292l-8.559-7.133a.714.714,0,1,0-.914,1.1l8.559,7.133a.714.714,0,1,0,.914-1.1Z' transform='translate(-320.001 -255.995)' class="fill fill--color-red")
											| email
										dd.description-list__content
											a(href="mail:info@alsamergroup.com") info@alsamergroup.com
			.col-12.col-sm-12.col-md-6.col-lg-7
				.section__content-wrapper.bg-indigo.text-white.px-0
					.row.justify-content-center
						.col-9
							.row
								.col-12
									form(action="#", method="POST")
										.form-row
											.col-12
												.form-group
													input.form-control.form-control-lg#contactnUsFormName(type="text", placeholder="Name", autocomplete="name")
											.col-12
												.form-group
													input.form-control.form-control-lg#contactUsFormEmail(type="email", placeholder="Email", autocomplete="email")
											.col-12
												.form-group
													textarea.form-control.form-control-lg#contactUsFormMessage(rows="6", placeholder="message")
										.form-row
											.col-8.col-sm-5.col-md-8.col-lg-7.col-xl-5
												button.btn.btn-danger.btn-block.btn-with-icon.text-uppercase(type="submit")
													| send message
													span.btn-icon
														svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16')
															path(fill-rule='evenodd' d='M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z')
															path(fill-rule='evenodd' d='M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z')
// Contact us section end/.