// About us section
section.section.section--bg-white#index-about-us-section
	figure.section__float-image-container.section__float-image-container--center-left
		.section__float-image
			img(src="./images/backgrounds/about-us-section-image.jpg", alt="", role="presentation")
	.container-fluid.px-0
		.row.justify-content-end
			.col-11.col-md-9.col-lg-8
				.section__content-wrapper.bg-primary.text-white
					.row
						.col-12.col-md-10.offset-md-2
							.row
								.col-12
									h2.h1.text-white.text-uppercase who we are
								.col-12.mt-3
									.section__content
										p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
								.col-12.col-md-4.mt-3
									button.btn.btn-danger.btn-block.btn-with-icon.text-uppercase(type="button")
										| know more
										span.btn-icon
											svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16')
												path(fill-rule='evenodd' d='M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z')
												path(fill-rule='evenodd' d='M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z')
// About us section end/.