// About us section
section.section.section--bg-white#inner-about-us-section
	.container-fluid.px-0
		.row.no-gutters.align-items-center
			.col.col-12.col-md-7.order-last
				.section__content-wrapper
					.section__content
						p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
			.col-10.col-md-5.order-first
				figure.section__media-container.shadow
					img.section__media-image(src="./images/backgrounds/about-us-section-image.jpg", alt="", role="presentation")
// About us section end/.