// Our supplier section
section.section.section--bg-white#our-supplier-section
	.section__bg--image-container.section__gradient-linear.section__gradient-linear--white-90(data-aos="fade", data-aos-delay="0", data-aos-mirror="false")
		img.section__bg--image(src="./images/backgrounds/suppliers-section-bg.jpg", alt="", role="presentation")
	.container
		.row
			.col-10.col-md-6.col-lg-4
				.section__content-wrapper
					.row
						.col-12
							h2.h1.text-primary.text-uppercase(data-aos="fade", data-aos-delay="100", data-aos-mirror="false") our Suppliers
						.col-12.mt-3
							.section__content(data-aos="fade", data-aos-delay="200", data-aos-mirror="false")
								p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
						.col-5.mt-3
							.swiper-controllers(data-aos="fade", data-aos-delay="300", data-aos-mirror="false")
								.row.no-gutters
									.col-6
										button.btn.btn-link.btn-block.shadow-none.slider-button-prev(type="button")
											span.mdi.mdi-chevron-left.mdi-32px.text-danger
									.col-6
										button.btn.btn-link.btn-block.shadow-none.slider-button-next(type="button")
											span.mdi.mdi-chevron-right.mdi-32px.text-danger
			.col-10.offset-2.col-md-6.offset-md-0.col-lg-8
				.card.bg-transparent.border-0.rounded-0
					.card-body.d-flex.align-items-stretch.justify-content-stretch
						.swiper-container#our-supplier-section-slider
							.swiper-wrapper
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="350", data-aos-mirror="false")
										p.supplier__title company name 1
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="400", data-aos-mirror="false")
										p.supplier__title company name 2
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="450", data-aos-mirror="false")
										p.supplier__title company name 3
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="500", data-aos-mirror="false")
										p.supplier__title company name 4
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="550", data-aos-mirror="false")
										p.supplier__title company name 5
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="600", data-aos-mirror="false")
										p.supplier__title company name 6
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="650", data-aos-mirror="false")
										p.supplier__title company name 7
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="700", data-aos-mirror="false")
										p.supplier__title company name 8
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="750", data-aos-mirror="false")
										p.supplier__title company name 9
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="800", data-aos-mirror="false")
										p.supplier__title company name 10
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="850", data-aos-mirror="false")
										p.supplier__title company name 11
								.swiper-slide
									.supplier(data-aos="fade", data-aos-delay="900", data-aos-mirror="false")
										p.supplier__title company name 12

// Our supplier section end/.