// Our Team section
section.section.section--bg-white#our-team-section
	.section__bg--image-container
		.section__bg--image
			svg(xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 1472.086 595.612' preserveAspectRatio='none')
				path(d='M0,0,1472.086,280.035V595.612L0,315.578Z' fill='#011156' opacity='0.1')
	.container-fluid.px-0
		.row
			.col-10.offset-1.col-md-8.offset-md-2.text-center.mb-4.mb-md-3
				h2.h1.text-uppercase.text-primary our team
				p.lead.font-weight-normal Lorem ipsum dolor sit amet, consetetur sadipscing elitr
			.col-12.mb-4.mb-md-3
				.swiper-container#our-team-section-slider
					.swiper-wrapper
						.swiper-slide
							.team-member
								.team-member__image
									img(src="./images/team/team-1.jpg", alt="Mohamed Mostafa - HR Manager")
								.team-member__content
									h3.team-member__name Mohamed Mostafa
									p.team-member__job-title
										small.text-capitalize HR Manager
									.team-member__social
										ul.list-inline.mb-0
											li.list-inline-item
												a.text-white(href="http://www.facebook.com", alt="contact us via facebook", target="_blank", aria-label="contact us via facebook")
													i.fab.fa-facebook-f
											li.list-inline-item
												a.text-white(href="http://www.twitter.com", alt="contact us via twitter", target="_blank", aria-label="contact us via twitter")
													i.fab.fa-twitter
											li.list-inline-item
												a.text-white(href="http://www.linkedin.com", alt="contact us via linkedin", target="_blank", aria-label="contact us via linkedin")
													i.fab.fa-linkedin-in
						.swiper-slide
							.team-member
								.team-member__image
									img(src="./images/team/team-2.jpg", alt="Samer El Bik - Founder and CEO")
								.team-member__content
									h3.team-member__name Samer El Bik
									p.team-member__job-title
										small.text-capitalize Founder and CEO
									.team-member__social
										ul.list-inline.mb-0
											li.list-inline-item
												a.text-white(href="http://www.facebook.com", alt="contact us via facebook", target="_blank", aria-label="contact us via facebook")
													i.fab.fa-facebook-f
											li.list-inline-item
												a.text-white(href="http://www.twitter.com", alt="contact us via twitter", target="_blank", aria-label="contact us via twitter")
													i.fab.fa-twitter
											li.list-inline-item
												a.text-white(href="http://www.linkedin.com", alt="contact us via linkedin", target="_blank", aria-label="contact us via linkedin")
													i.fab.fa-linkedin-in
						.swiper-slide
							.team-member
								.team-member__image
									img(src="./images/team/team-3.jpg", alt="Tamer El Bik - Accounting Manager ")
								.team-member__content
									h3.team-member__name Tamer El Bik
									p.team-member__job-title
										small.text-capitalize Accounting Manager
									.team-member__social
										ul.list-inline.mb-0
											li.list-inline-item
												a.text-white(href="http://www.facebook.com", alt="contact us via facebook", target="_blank", aria-label="contact us via facebook")
													i.fab.fa-facebook-f
											li.list-inline-item
												a.text-white(href="http://www.twitter.com", alt="contact us via twitter", target="_blank", aria-label="contact us via twitter")
													i.fab.fa-twitter
											li.list-inline-item
												a.text-white(href="http://www.linkedin.com", alt="contact us via linkedin", target="_blank", aria-label="contact us via linkedin")
													i.fab.fa-linkedin-in
						.swiper-slide
							.team-member
								.team-member__image
									img(src="./images/team/team-4.jpg", alt="Ahmed Khamis - General Manager")
								.team-member__content
									h3.team-member__name Ahmed Khamis
									p.team-member__job-title
										small.text-capitalize General Manager
									.team-member__social
										ul.list-inline.mb-0
											li.list-inline-item
												a.text-white(href="http://www.facebook.com", alt="contact us via facebook", target="_blank", aria-label="contact us via facebook")
													i.fab.fa-facebook-f
											li.list-inline-item
												a.text-white(href="http://www.twitter.com", alt="contact us via twitter", target="_blank", aria-label="contact us via twitter")
													i.fab.fa-twitter
											li.list-inline-item
												a.text-white(href="http://www.linkedin.com", alt="contact us via linkedin", target="_blank", aria-label="contact us via linkedin")
													i.fab.fa-linkedin-in
						.swiper-slide
							.team-member
								.team-member__image
									img(src="./images/team/team-5.jpg", alt="Tarek Anis - Legal Counsel")
								.team-member__content
									h3.team-member__name Tarek Anis
									p.team-member__job-title
										small.text-capitalize Legal Counsel
									.team-member__social
										ul.list-inline.mb-0
											li.list-inline-item
												a.text-white(href="http://www.facebook.com", alt="contact us via facebook", target="_blank", aria-label="contact us via facebook")
													i.fab.fa-facebook-f
											li.list-inline-item
												a.text-white(href="http://www.twitter.com", alt="contact us via twitter", target="_blank", aria-label="contact us via twitter")
													i.fab.fa-twitter
											li.list-inline-item
												a.text-white(href="http://www.linkedin.com", alt="contact us via linkedin", target="_blank", aria-label="contact us via linkedin")
													i.fab.fa-linkedin-in
			.col-12.d-flex.justify-content-center
				.swiper-controllers
					.row.no-gutters
						.col-6
							button.btn.btn-link.btn-block.shadow-none.slider-button-prev(type="button")
								span.mdi.mdi-chevron-left.mdi-32px.text-danger
						.col-6
							button.btn.btn-link.btn-block.shadow-none.slider-button-next(type="button")
								span.mdi.mdi-chevron-right.mdi-32px.text-danger
// Our Team section end/.