// Projects section
section.section.section--bg-white#projects-section
	.container-fluid.px-0
		.row
			.col-10.offset-1.col-md-8.offset-md-2.text-center.mb-4.mb-md-3
				h2.h1.text-uppercase.text-primary projects
				p.lead.font-weight-normal Some samples of our work
			.col-12
				.swiper-container#projects-section-slider
					.swiper-wrapper
						.swiper-slide
							figure.project
								.project__frame
									img.project__image(src="./images/backgrounds/project-1.jpg", alt="project image description goes here")
								figcaption.project__description
									.row
										.col-10.offset-1.col-sm-10.offset-sm-1.col-md-10.offset-md-1.col-lg-8.offset-lg-2
											h3.project__title El Dabaa
						.swiper-slide
							figure.project
								.project__frame
									img.project__image(src="./images/backgrounds/project-2.jpg", alt="project image description goes here")
								figcaption.project__description
									.row
										.col-10.offset-1.col-sm-10.offset-sm-1.col-md-10.offset-md-1.col-lg-8.offset-lg-2
											h3.project__title new cairo
						.swiper-slide
							figure.project
								.project__frame
									img.project__image(src="./images/backgrounds/project-3.jpg", alt="project image description goes here")
								figcaption.project__description
									.row
										.col-10.offset-1.col-sm-10.offset-sm-1.col-md-10.offset-md-1.col-lg-8.offset-lg-2
											h3.project__title New Ismailia
			.col-12.d-flex.justify-content-center
				.swiper-controllers
					.row.no-gutters
						.col-6
							button.btn.btn-link.btn-block.shadow-none.slider-button-prev(type="button")
								span.mdi.mdi-chevron-left.mdi-32px.text-danger
						.col-6
							button.btn.btn-link.btn-block.shadow-none.slider-button-next(type="button")
								span.mdi.mdi-chevron-right.mdi-32px.text-danger
// Projects section end/.