// Services section
section.section.section--bg-white#services-section
	.container
		.row
			.col-12.col-md-6.col-lg-3
				.section__content-wrapper.pl-md-0
					.row
						.col-12
							h2.h1.text-uppercase.text-primary services
						.col-12
							.section__content
								p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
			.col-12.col-md-6.col-lg-9.mb-4.mb-md-0
				.row
					.col-8.offset-2.col-sm-6.offset-sm-0.col-md-10.offset-md-1.col-lg-4.offset-lg-0
						.card.service-card.service-card--with-shadow
							a.stretched-link(href="#")
								img.card-img-top.rounded-0(src="./images/backgrounds/service-bg-1.jpg", alt="service image description goes here")
							.card-body
								h3.h5.card-title.text-uppercase
									a.stretched-link.text-danger.text-decoration-none(href="#") Marketing Through SEO
								.card-content
									p.card-text.font-weight-light Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, molestiae?
					.col-8.offset-2.col-sm-6.offset-sm-0.col-md-10.offset-md-1.col-lg-4.offset-lg-0
						.card.service-card.service-card--with-shadow
							a.stretched-link(href="#")
								img.card-img-top.rounded-0(src="./images/backgrounds/service-bg-2.jpg", alt="service image description goes here")
							.card-body
								h3.h5.card-title.text-uppercase
									a.stretched-link.text-danger.text-decoration-none(href="#") Social Media Marketing
								.card-content
									p.card-text.font-weight-light Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, molestiae?
					.col-8.offset-2.col-sm-6.offset-sm-0.col-md-10.offset-md-1.col-lg-4.offset-lg-0
						.card.service-card.service-card--with-shadow
							a.stretched-link(href="#")
								img.card-img-top.rounded-0(src="./images/backgrounds/service-bg-3.jpg", alt="service image description goes here")
							.card-body
								h3.h5.card-title.text-uppercase
									a.stretched-link.text-danger.text-decoration-none(href="#") content creating
								.card-content
									p.card-text.font-weight-light Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, molestiae?
// Services section end/.