// Why Choose us section
section.section.section--bg-white#why-choose-us-section
	.section__float-slider-container.section__float-slider-container--top-right
		.section__float-slider.h-100
			.swiper-controllers(data-aos="fade", data-aos-delay="350", data-aos-mirror="false")
				.row.no-gutters
					.col-6
						button.btn.btn-link.btn-block.shadow-none.slider-button-prev(type="button")
							span.mdi.mdi-chevron-left.mdi-32px
					.col-6
						button.btn.btn-link.btn-block.shadow-none.slider-button-next(type="button")
							span.mdi.mdi-chevron-right.mdi-32px
			.card.border-0.rounded-0.h-100
				.card-body.p-0
					.swiper-container#why-choose-us-section-images-slider
						.swiper-wrapper
							.swiper-slide
								figure.section__media-container
									img.section__media-image(src="./images/backgrounds/about-us-section-image.jpg", alt="", role="presentation")
							.swiper-slide
								figure.section__media-container
									img.section__media-image(src="./images/backgrounds/about-us-section-image.jpg", alt="", role="presentation")
	.container.mt-6.mt-lg-0
		.row
			.col-12.mb-4
				h2.h1.text-uppercase.text-primary(data-aos="fade-up", data-aos-delay="0", data-aos-mirror="false") Why Choose Us
			.col-10.col-lg-8
				.section__content-wrapper.bg-primary.text-white
					.row
						.col-12.col-md-8
							.swiper-container#why-choose-us-section-content-slider
								.swiper-wrapper
									.swiper-slide
										.row
											.col-12
												h3.text-white.text-uppercase(data-swiper-parallax="-100", data-aos="fade", data-aos-delay="100", data-aos-mirror="false") GPS tracking for Vehicle
											.col-12.mt-3
												.section__content(data-swiper-parallax="-200", data-aos="fade", data-aos-delay="200", data-aos-mirror="false")
													p.lead Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
									.swiper-slide
										.row
											.col-12
												h3.text-white.text-uppercase(data-swiper-parallax="-100", data-aos="fade", data-aos-delay="100", data-aos-mirror="false") GPS tracking for Vehicle
											.col-12.mt-3
												.section__content(data-swiper-parallax="-200", data-aos="fade", data-aos-delay="200", data-aos-mirror="false")
													p.lead Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
// Why Choose us section end/.