#index-about-us-section {
	padding: map-get($spacers, 5) 0;
	@include media-breakpoint-only(md) {
		padding-top: calc(#{map-get($spacers, 5)} + 25rem);
	}
	@include media-breakpoint-only(sm) {
		padding-top: calc(#{map-get($spacers, 5)} + 25rem);
	}
	@include media-breakpoint-up(lg) {
		padding-top: map-get($spacers, 10);
	}

	.section__float-image-container {
		width: 100%;
		position: relative;
		@each $breakpoint, $container-max-width in $container-max-widths {
			@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
				position: absolute;
				@if $breakpoint == xl {
					width: calc(#{percentage(4 / $grid-columns)} + calc((100% - #{map-get($container-max-widths, $breakpoint)})));
				} @else if $breakpoint == lg {
					width: calc(#{percentage(4 / $grid-columns)} + calc((100% - #{map-get($container-max-widths, $breakpoint)})));
				} @else if $breakpoint == md {
					width: calc(#{percentage(9 / $grid-columns)} + calc((100% - #{map-get($container-max-widths, $breakpoint)})));
				} @else {
					width: calc(#{percentage(8 / $grid-columns)} + calc((100% - #{map-get($container-max-widths, $breakpoint)})));
				}
			}
		}

		@include media-breakpoint-down(md) {
			top: 0;
		}

		@include media-breakpoint-down(lg) {
			top: map-get($spacers, 5);
			transform: initial !important;
		}
	}
	.section__content-wrapper {
		@include media-breakpoint-down(lg) {
			padding-top: calc(#{map-get($spacers, 5)} + 1rem);
		}
	}
}
