mixin breadcrumb(data=[], delay=0)
	// Breadcrumb
	nav(aria-label="breadcrumb", data-aos="fade", data-aos-delay=delay, data-aos-mirror="false")
		ol.breadcrumb
			each page, index in data
				if (index !== data.length-1)
					li.breadcrumb-item
						a.text-white.text-capitalize.text-decoration-none(href=`${page.href}`)= `${page.title}`
				else
					li.breadcrumb-item.active.text-capitalize
						= `${String(page.title).split("").slice(0, 40).join('')}`
						if (String(page.title).split("").length >= 40)
							| ...
	// Breadcrumb End/.