extends ./layouts/_index-layout.pug

block content
	include ./sections/hero-section.pug
	// Application main section
	main.app-main.app-main--index#app-main(role="main")
		include ./sections/index-about-us-section.pug
		include ./sections/services-section.pug
		include ./sections/clients-section.pug
		include ./sections/projects-section.pug
		include ./sections/why-choose-us-section.pug
		include ./sections/our-team-section.pug
		//- // Our supplier section
		//- section.section.section--bg-white#our-supplier-section
		//- 	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, necessitatibus nihil esse quam quaerat rerum exercitationem consectetur? Dolorum quibusdam explicabo reiciendis soluta repellat repudiandae cupiditate laudantium doloribus, est voluptate? Perferendis!  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, necessitatibus nihil esse quam quaerat rerum exercitationem consectetur? Dolorum quibusdam explicabo reiciendis soluta repellat repudiandae cupiditate laudantium doloribus, est voluptate? Perferendis!
		//- // Our supplier section end/.
	include ./sections/join-us-section.pug
	include ./sections/contact-us-section.pug
	// Application main section end/.
