extends ./layouts/_index-layout.pug

block content
	include ./sections/hero-section.pug
	// Application main section
	main.app-main.app-main--index#app-main(role="main")
		include ./sections/index-about-us-section.pug
		include ./sections/services-section.pug
		include ./sections/clients-section.pug
		include ./sections/projects-section.pug
		include ./sections/why-choose-us-section.pug
		include ./sections/our-team-section.pug
		include ./sections/our-supplier-section.pug
	include ./sections/join-us-section.pug
	include ./sections/contact-us-section.pug
	// Application main section end/.
