include ../mixins/_app-header.pug

block variables
	- var menu = {type:"index", is_menu_open: false, nav_list: [{ title: "who we are", href: "#about-us-section" }, { title: "our service", href: "#services-section" }, { title: "join us", href: "#" }, { title: "contact us", href: "#" }]};

doctype html
html(lang=`${locals.lang}` dir=`${(locals.lang === "en") ? "ltr" : "rtl"}`)
	include ../base/_head.pug
	body(class=`${menu.is_menu_open ? "side-menu--is-open" : ""}`)
		// Application
		#app
			include ../sections/app-preloader.pug
			+app-header(menu)
			block content
			include ../sections/app-footer.pug
			include ../base/_foot.pug
		// Application End/.
